# Data files - too large for GitHub
data/raw/
data/*
*.mzTab
/*.tsv
*.zip
*.csv
model_evaluation_results/*
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/
*.egg-info/

.DS_Store